.container {
  height: vh;
  width: vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  flex-direction: column;
}

.product {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: top center;
  color: black !important ;
}

img:hover {
  animation: reverse;
}

p {
  display: flex;
  border: 3px solid black;
  color: black !important;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
}

p:hover {
  animation: reverse;
  animation-delay: 0.5s;
}
